#post
  %h2.title
    = link_to "From The Hall", "#"
    %br
    %br
  %div.entry
    
    %p
      %img{:alt => "", :height => "143" , :src => "/images/img08.jpg", :width => "143", :class => "alignleft border"}
      %strong From the desk of the Hall President
    %p
      %strong Meghnad Saha Hall of residence 
      , as I see it is an abode of glory and wisdom. I visualize it as an
      epitome of brotherhood and prosperity. The root of the hall thrives on the sincere efforts put forth
      by its boarders as a unit. We ensure the holistic as well as personal growth of every individual with
      prior dominance on academic excellence.
    %p
      In the past years the Meghnad Saha Hall of residence has earned many a repute to its name with
      the General Championship, Sports attaining the topmost priority. We have a culminated a culture
      and want to pass on this heritage to our younger brothers who will probably rekindle it with their
      efforts.
    %p
      With best wishes
    %p
      %strong Baidurya Mani
    %p
      %strong (HALL PRESIDENT)
    %p
      %strong \m/S
    %br
    %br
    %p
      %img{:alt => "", :height => "143" , :src => "/images/img12.jpg", :width => "143", :class => "alignleft border"}
      %strong From the desk of the Second Senate Member
    %p
      We, the boarders of the Meghnad Saha Hall of Residence feel esteemed in proclaiming the fact that
      we have been able to fulfil our satiable thirst for upliftment as a unit with utter pride and honour.
      The decadence that we were faced with three years back has been quelled and we have emerged as
      the true champions. Our future plans are far more clear and vivid and what we see is just glory.
    %p
      With new introspection and ideas, we plan to attain new heights in all the aspects of individual
      development. Today we see ourselves as a secured group filled with harmony and forbearance.
      Hope the stay for every boarder in this hall turns out to be the best in their lifetime.
    %p
      With best wishes,
    %p
      %strong Sampad Shanker Desai
    %p
      %strong (SECOND SENATE MEMBER)
    %p
      %strong \m/S

     
