#post
  %h2.title
    = link_to "From The Hall", "#"
    %br
    %br
  %div.entry
    
    %p
      %img{:alt => "", :height => "143" , :src => "/images/img08.jpg", :width => "143", :class => "alignleft border"}
      %strong Meghnad Saha Hall of residence 
      , as I see it is an abode of glory and wisdom. I visualize it as an
      epitome of brotherhood and prosperity. The root of the hall thrives on the sincere efforts put forth
      by its boarders as a unit. We ensure the holistic as well as personal growth of every individual with
      prior dominance on academic excellence.
    %p
      In the past years the Meghnad Saha Hall of residence has earned many a repute to its name with
      the General Championship, Sports attaining the topmost priority. We have a culminated a culture
      and want to pass on this heritage to our younger brothers who will probably rekindle it with their
      efforts.
    %p
      With best wishes
    %p
      %strong Baidurya Mani
    %p
      %strong (HALL PRESIDENT)
    %p
      %strong \m/S

