#post
  %h2.title
    = link_to "GC Standings", "#"
    %br
    %br
  %div.entry
    %p
      %br
      %strong SPORTS
      %img{:alt => "", :height => "371" , :src => "/images/img09.png", :width => "550", :class => "alignleft border"}
      %br
      %br
      %strong SOCIAL AND CULTURAL
      %br
      %img{:alt => "", :height => "371" , :src => "/images/img10.png", :width => "550", :class => "alignleft border"}
      %br
      %br
      %strong TECHNOLOGY
      %br
      %img{:alt => "", :height => "371" , :src => "/images/img11.png", :width => "550", :class => "alignleft border"}


