#post
  %h2.title
    = link_to "Home", "#"
    %br
    %br
  %div.entry
    %p
      %img{:alt => "", :height => "143" , :src => "/images/img08.jpg", :width => "143", :class => "alignleft border"}
      This is
      %strong Meghnad Saha Hall of Residence
      text goes here text goes here
      text goes here


