#post
  %h2.title
    = link_to "Home", "#"
    %br
    %br
  %div.entry
    %p
    %p
      %strong MEGHNAD SAHA hall of residence 
      was inaugurated by hounourable Murali Manohar Joshi in 2003.Initially meant to be a hall for M.TECH students ,it was made a B.TECH hall within       years of its existence.Named after MEGHNAD SAHA  who was an eminent astrophysicist best known for his development of the Saha equation used to describe chemical and physical conditions in stars.
    %p
      Within 3 years of its existence as a B tech hall ,the boarders of this hall have shown immense talent and an all round performance in all the three General championships  namelyTechnology ,Sports and Social cultural.The efforts of this hall to strive for glory resulted in a large number of medals in various events. FINE ARTS CUP in the year 2009 -10 ,GOLD in badminton for consecutive three years ,GOLD in cricket and ATHLETICS CUP in the year 2010-11 leading to the very well deserved SPORTS GENERAL CHAMPIONSHIP.  These are few of the many laurels this hall has achieved which promise a very bright future in coming G.C events 

